body {
  font-family: sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e0e0e0;
}

.container {
  background-color: #fff;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 400px;
}

form{
  display: grid;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.label-form {
  display: block;
  margin-bottom: 5px;
}

.input-form {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 15px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
  justify-self: center;
}

button:hover {
  background-color: #3e8e41;
}


@media only screen and (max-width: 768px) {
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 1.5rem; 
}

label {
  font-size: 1rem; 
}

input[type="text"],
input[type="email"],
input[type="password"] {
  font-size: 1rem; 
}
}

